.user-page {
  width: 90%;
  margin: 1rem auto;
}

.username {
  display: grid;
  place-items: center;
}

.username > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.user-dashboard {
  display: grid;
  grid-template-columns: 20% 79%;
  gap: 1%;
  margin: 2rem 0 0 0;
}

.user-dashboard-navbar{
  position: sticky;
  top: 1rem;
}

.support-chat-container,
.order-history-container,
.user-information,
.user-dashboard-navbar {
  height: fit-content;
  padding: 1rem;
  border: 3px solid var(--first-color);
  border-radius: 20px;
}

.user-information > h2{
  text-align: center;
}

.order-history-container{
  padding: 0 0 1rem;
  overflow: hidden;
}

.user-settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-settings > .product-info {
  width: 20rem;
}

.user-settings > .product-info:nth-last-child(2) > p {
  top: 0;
}

.user-settings > .product-info:nth-last-child(2) {
  margin: 1.5rem 5%;
}

.info-form-btn-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.info-form-btn:nth-child(1){
  background-color: var(--second-color);
  color: black;
}

.info-form-btn{
  width: fit-content;
  padding: 5px 1.5rem ;
  font-size: var(--bg-font-all);
  color: white;
  background-color: var(--first-color);
  border: none;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}